@use "../styles/colors";

.hero {
  background-color: rgba(121, 121, 121, 0.5);
  color: #fff;
  padding: 10rem 0;
  margin-bottom: 1rem;
  background-image: var(--background-image);
  background-size: cover;
  background-blend-mode: color-burn;

  h1 {
    font-size: 2.5rem;
    max-width: 40rem;
  }

  p {
    margin: 2rem 0;
    max-width: 40rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: #000 solid 1px;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.filters {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 14rem;

  span {
    opacity: 0.5;
  }

  .select {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    border: solid 1px #000;

    select {
      appearance: none;
      display: block;
      font: inherit;
      border: none;
      width: 100%;
      height: 100%;
      padding: 0.5rem 0.5rem;
    }

    svg {
      position: absolute;
      right: 0.25rem;
    }
  }
}

.modes {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.mode {
  input:checked + svg {
    color: colors.$tint;
  }

  svg {
    display: block;
    overflow: hidden;
    max-height: 1.5rem;
    height: 100%;
    width: 1.5rem;
  }

  input {
    display: none;
  }
}